body {
  background-color: rgb(240, 233, 229);
  font-family: Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

#tribute-info,
#img-caption {
  font-size: 1rem;
}

#tribute-link {
  cursor: pointer;
  color: rgb(120, 158, 229);
}

#img-caption {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 10px 50px;
}

#image {
  display: block;
  width: 800px;
  max-width: 100%;
  height: auto;
  justify-content: center;
  margin: 10px auto;
}

.content,
.about {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.about {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 3;
}

footer {
  text-align: center;
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);
}
